<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Login</title>
     <link rel="stylesheet" th:href="@{/CSS/adminLogin.css}" />
</head>
<body>
    <form th:action="@{/adminLogin}" method="post">
        <h1>Admin Login</h1>
        
        <!-- Display error message if it exists -->
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <div class="button-container">
            <button type="submit">Login</button>
            <button type="reset">Reset</button>
        </div>

        <button onclick="location.href='/userLogin'">User Login</button>
    </form>
</body>
</html>
 