<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to sign up Page</title>
</head>
<body>
    <form th:action="@{/signup}" method="post">
        <h1>Choose your role</h1>

        <input type="radio" name="role" value="Admin"> Admin <br><br>
        <input type="radio" name="role" value="User"> User <br><br>


        <button type="submit">Submit</button>
    </form>

    <br>
    <h1>Already have an account?</h1>
    <a th:href="@{/loginArea}"><button>Login</button></a>
</body>
</html> -->
