<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
     <link rel="stylesheet" th:href="@{/CSS/productsShow.css}" />
</head>
<body>

<h2>Product List</h2>

<table>
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Code</th>
            <th>Price</th>
            <th>Tax Rate</th>
            <th>Quantity</th>
            <th>Action</th> <!-- New column for actions -->
        </tr>
    </thead>
    <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.Pid}">1</td>
            <td th:text="${product.ProductName}">Product Name</td>
            <td th:text="${product.PCode}">Product Code</td>
            <td th:text="${product.Price}">100.0</td>
            <td th:text="${product.TaxRate}">5%</td>
            <td th:text="${product.Quantity}">10</td>
            <!-- Action button for each product -->
            <td>
                <a th:href="@{/editProduct/{id}(id=${product.Pid})}">
                    <button class="edit-btn">Edit</button>
                </a>
                <a th:href="@{/deleteProduct/{id}(id=${product.Pid})}">
                    <button class="delete-btn">Delete</button>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<a th:href="@{/adminHome}">
    <button type="button" class="edit-btn">Back to Admin Home</button>
</a>

</body>
</html>
 